.message {
    font-family: 'Courier New', Courier, monospace;
    clear: both;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.showMessage {
    width: auto;
    height: 150px;
    border: 12px;
    border-block-color: red;
    
}

.contactButton {
    position:fixed;
	height:60px;
	bottom:40px;
	right:40px;
	text-align:center;
    transition: all 0.2s ease-in 0s;
    cursor: pointer;
}

.logInForm{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

closeChatButton{
    position:fixed;
	height:60px;
	top:40px;
	left:40px;
	text-align:center;
    transition: all 0.2s ease-in 0s;
    cursor: pointer;
}
